.our_team {
    padding: 70px 0;
}
.our_team .container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our_team .container article {
    width: 635px;
    transform: translateY(45px);
}
.our_team .container article h2 {
    color: #2c2d35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
}
.our_team .container article p {
    color: #86928b;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #2c2d35;
    margin-bottom: 20px;
}
.our_team .container article div {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our_team .container article div img {
    transition: 0.4s;
}
.our_team .container article div img:hover {
    transform: scale(1.1);
}