.pictures_block {
    padding: 70px 0;
}
.pictures_block .container {
    width: 1110px;
    margin: 0 auto;
}
.pictures_block .container h2 {
    color: #2c2d35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 30px;
}
.pictures_block .container .pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pictures_block .container .pictures nav {
    width: 350px;
    padding: 20px 20px 30px 20px;
    background: #ffffff;
    margin-bottom: 30px;
}
.pictures_block .container .pictures nav img {
    margin-bottom: 20px;
}
.pictures_block .container .pictures nav h3 {
    color: #86928b;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 10px;
}
.pictures_block .container .pictures nav h4 {
    color: #2c2d35;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 8px;
}
.pictures_block .container .pictures nav h5 {
    color: #2c2d35;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 30px;
}
.pictures_block .container .pictures nav h6 {
    color: #598d66;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
}
.pictures_block .container .pictures nav button {
    color: #598d66;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: none;
    border: 1px solid #598d66;
}